<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${noticeBoard.id != null} ? 'Edit NoticeBoard' : 'New NoticeBoard'">Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1 th:text="${noticeBoard.id != null} ? 'Edit NoticeBoard' : 'New NoticeBoard'">Form</h1>
<form th:action="@{/noticeboards/save}" th:object="${noticeBoard}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Date:</label>
    <input type="date" th:field="*{date}" required />
    <br/><br/>
    <button type="submit">Save</button>
    <a th:href="@{/noticeboards}">Cancel</a>
</form>
</body>
</html>
