<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Airplane Form</title>
    <style> .error { color: red; } </style>
</head>
<body>

<h2><span th:text="${airplane.id} ? 'Edit Airplane' : 'Create New Airplane'"></span></h2>

<form th:action="@{/airplanes/save}" th:object="${airplane}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="number">Airplane Number:</label>
        <input type="number" id="number" th:field="*{number}" />
        <span class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error</span>
    </div>
    <br/>

    <button type="submit">Save</button>
    <a th:href="@{/airplanes}">Cancel</a>
</form>
</body>
</html>