<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Airplanes</title>
</head>
<body>
<h2>Airplanes</h2>

<a th:href="@{/airplanes/new}">Add New Airplane</a>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Flights Count</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${airplanes}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.number}"></td>
        <td th:text="${a.flights.size()}"></td>
        <td>
            <a th:href="@{|/airplanes/details/${a.id}|}">Details</a> |
            <a th:href="@{|/airplanes/edit/${a.id}|}">Edit</a> |
            <a th:href="@{|/airplanes/delete/${a.id}|}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/flights}">Back to Flights</a>
</body>
</html>
