<h1 th:text="${assignment.id == null} ? 'Add Assignment' : 'Edit Assignment'"></h1>
<form th:action="@{/assignments/save}" th:object="${assignment}" method="post">
    <label>Flight:</label>
    <select th:field="*{flightId}">
        <option th:each="f : ${flights}" th:value="${f.id}" th:text="${f.name}"></option>
    </select>

    <label>Staff:</label>
    <select th:field="*{staffId}">
        <option th:each="s : ${staffs}" th:value="${s.id}" th:text="${s.name}"></option>
    </select>

    <label>Assignment Date:</label>
    <input type="date" th:field="*{assigmentDate}" />

    <button type="submit">Save</button>
</form>
