<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Airline Employees</title>
</head>
<body>

<div>

    <h2>Airline Employees</h2>
    <a th:href="@{/airline-employees/new}">Add New Employee</a>
    <form th:action="@{/airline-employees}" method="get">
        <input type="hidden" name="page" value="0" />
        <input type="hidden" name="size" th:value="${page.size}" />

        <label>Sort by:</label>
        <select name="sortBy">
            <option value="id" th:selected="${sortBy == 'id'}">ID</option>
            <option value="name" th:selected="${sortBy == 'name'}">Name</option>
            <option value="role" th:selected="${sortBy == 'role'}">Role</option>
            <option value="employeeNumber" th:selected="${sortBy == 'employeeNumber'}">Employee Number</option>
            <option value="company" th:selected="${sortBy == 'company'}">Company</option>
        </select>

        <label>Order:</label>
        <select name="ascending">
            <option value="true" th:selected="${ascending == true}">Ascending</option>
            <option value="false" th:selected="${ascending == false}">Descending</option>
        </select>

        <button type="submit">Apply</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Employee Number</th>
            <th>Company</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.role}"></td>
            <td th:text="${employee.employeeNumber}"></td>
            <td th:text="${employee.company}"></td>
            <td>
                <a th:href="@{/airline-employees/details/{id}(id=${employee.id})}">Details</a> |
                <a th:href="@{/airline-employees/edit/{id}(id=${employee.id})}">Edit</a> |
                <a th:href="@{/airline-employees/delete/{id}(id=${employee.id})}"
                   onclick="return confirm('Delete?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
