<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Luggage Form</title>
</head>
<body>
<h1 th:text="${luggage.id == null} ? 'Add Luggage' : 'Edit Luggage'"></h1>

<form th:action="@{${luggage.id == null} ? '/luggage' : '/luggage/' + ${luggage.id} + '/edit'}"
      th:object="${luggage}"
      method="post">

    <div>
        <label>ID:</label>
        <input type="text" th:field="*{id}" placeholder="ex: LG-123"/>
    </div>

    <div>
        <label>Ticket ID:</label>
        <input type="text" th:field="*{ticketId}" placeholder="ex: T-001"/>
    </div>

    <div>
        <label>Status:</label>
        <select th:field="*{status}">
            <option th:each="s : ${T(com.example.flight_management_system.model.Status).values()}"
                    th:value="${s}"
                    th:text="${s}">
            </option>
        </select>
    </div>

    <div style="margin-top:10px;">
        <button type="submit" th:text="${luggage.id == null} ? 'Save' : 'Update'"></button>
        <a th:href="@{/luggage}">Back to List</a>
    </div>

</form>
</body>
</html>
