<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Luggage Details</title>
</head>
<body>

<h2>Luggage Details: <span th:text="${luggage.id}"></span></h2>

<p><strong>ID:</strong> <span th:text="${luggage.id}"></span></p>
<p><strong>Status:</strong> <span th:text="${luggage.status}"></span></p>
<p><strong>Associated Ticket:</strong> <a th:href="@{/tickets/details/{id}(id=${luggage.ticket.id})}" th:text="${luggage.ticket.id}"></a></p>

<hr/>
<a th:href="@{/luggages}">Back to List</a>

</body>
</html>