<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Passenger Form</title>
</head>
<body>
<h1 th:text="${passenger.id == null} ? 'Create Passenger' : 'Edit Passenger'"></h1>

<form th:action="@{${passenger.id == null} ? '/passengers' : '/passengers/' + ${passenger.id} + '/edit'}"
      th:object="${passenger}"
      method="post">

    <div>
        <label>Name</label>
        <input th:field="*{name}" placeholder="John Doe"/>
    </div>

    <div>
        <label>Currency</label>
        <input th:field="*{currency}" placeholder="EUR"/>
    </div>

    <div style="margin-top:10px;">
        <button type="submit" th:text="${passenger.id == null} ? 'Save' : 'Update'"></button>
        <a th:href="@{/passengers}">Back</a>
    </div>

</form>
</body>
</html>
